body {
    padding-left: 200px;
    margin: 0;
}

div#sidebar {
    position: fixed;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
    background: grey;
}

div#content {
    width: 100%;
    height: 1600px;
}
