.sidebar-photo {
    box-sizing: border-box;
    border-radius: 50%;
    width: 100%;
}

.sidebar-title {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-bottom: 2%;
}

.sidebar-block {
    margin-left: 5px;
    margin-bottom: 20px;
}

.sidebar-link::after {
    content: "";
    display: block;
    height: 0;
    width: 1px;
}
