/* Override this file to customise the theme's CSS for your site */

img[src$='#center']{
  display: block;
  margin: 0.7rem auto;
 }

 ul.pagination {
   padding: 0;
   margin: 0;
 }

 li.page-item {
   display: inline
 }
